<div class="setting-item">
    <h2><b>Max Number: </b>{{gameSettings.maxNumber}}</h2>
    <ion-range [value]="gameSettings.maxNumber" min="10" max="100" color="secondary"
               (ionChange)="onMaxNumberChange($event)" snaps="true" ticks="false">
        <ion-label slot="start">10</ion-label>
        <ion-label slot="end">100</ion-label>
    </ion-range>
</div>

<div class="setting-item">
    <h2><b>Game Time: </b>{{gameSettings.gameTime}} s</h2>
    <ion-range [value]="gameSettings.gameTime" min="10" max="60" color="secondary"
               (ionChange)="onGameTimeChange($event)" snaps="true" ticks="false">
        <ion-label slot="start">10</ion-label>
        <ion-label slot="end">60</ion-label>
    </ion-range>
</div>

<div class="setting-item">
    <h2><b>Extra Time: </b>{{gameSettings.extraTime}} s</h2>
    <ion-range [value]="gameSettings.extraTime" min="0" max="10" color="secondary"
               (ionChange)="onExtraTimeChange($event)" snaps="true" ticks="false">
        <ion-label slot="start">0</ion-label>
        <ion-label slot="end">10</ion-label>
    </ion-range>
</div>

<ion-button (click)="saveSettings()">Save</ion-button>
